[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "zsh/ohmyzsh-custom/plugins/autoenv"]
	path = zsh/ohmyzsh-custom/plugins/autoenv
	url = https://github.com/Tarrasch/zsh-autoenv.git
[submodule "zsh/ohmyzsh-custom/plugins/zsh-syntax-highlighting"]
	path = zsh/ohmyzsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/ohmyzsh-custom/plugins/zsh-autosuggestions"]
	path = zsh/ohmyzsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/ohmyzsh-custom/themes/powerlevel10k"]
	path = zsh/ohmyzsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "nvim/lazy.nvim"]
	path = nvim/lazy.nvim
	url = https://github.com/folke/lazy.nvim
